@import '~sass/variables';

.message-row {
    min-height: 60px;
}

@keyframes fade-in-out {
    0%   {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}

.message {
    animation-name: fade-in-out;
    animation-duration: 2s;
    font-size: 36px;
    font-weight: bold;
    color: $primary-color;
}

