<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row header-row">
        <div class="col-4 text-right">
            <img class="dorg-face" src="./assets/images/nibbler.png" />
        </div>
        <div class="col-4 text-center">
            <span class="align-middle">FEED THE DORGS</span>
        </div>
        <div class="col-4 text-left">
            <img class="dorg-face" src="./assets/images/bee.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>